<div class="row">
	<div class="page-header span12">
		<h1><%= @team.name %></h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		<table class="team-roster">
			<thead>
				<th>Name</th>
				<th>Email</th>
			</thead>
			<tbody>
				<% @team.players.each do |player| %>
					<tr>
						<td><%= player.full_name %></td>
						<td><%= player.email %></td>
					</tr>
				<% end %>
				<tr>
					<td colspan="2">
						<%= form_tag memberships_url do %>
							<%= text_field_tag :player_name, nil, data: { autocomplete_source: players_path } %>
							<%= hidden_field_tag :team_id, @team.id %>
							<%= submit_tag "Add Player" %>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>