<div class="row">
	<div class="page-header span12">
		<h1>Edit Season: <%= @season.name %></h1>
		<a href="<%= season_url(@season.league.path, @season.path) %>" class="manage-view-option">
			View Season
		</a>
	</div>
</div>
<div class="row">
	<div class="span12">
		<table class="season-schedule team-roster">
			<thead>
				<th>Date</th>
				<th>Time</th>
				<th>Home</th>
				<th>Away</th>
				<th>Edit</th>
				<th>Remove</th>
			</thead>
			<tbody>
				<% @season.games.each do |game| %>
					<tr>
						<td><%= game.date %></td>
						<td><%= game.time %></td>
						<td><%= game.home_team_name %></td>
						<td><%= game.away_team_name %></td>
						<td><%= link_to "Edit Game", edit_game_url(game.id) %></td>
						<td><%= link_to "Remove Game", game_url(game.id), method: :delete %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "Add Game to Schedule", new_game_url(@season.league.path, @season.path) %>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="manage-row-header">
			<h2>Manage Rosters</h2>
		</div>
		<div class="manage-row-options">
			<% @season.rosters.each do |roster| %>
				<a href="<%= edit_roster_url(@season.league.path, @season.path, roster.team.path) %>" class="manage-row-edit manage-row-option">
					<h3><%= roster.team.name %></h3>
				</a>
			<% end %>
		</div>
		<div class="manage-row-header">
			<h2>Add Roster</h2>
		</div>
		<div class="manage-row-options">
			<%= form_tag rosters_url do %>
				<%= text_field_tag :team_name, nil, data: { autocomplete_source: teams_url } %>
				<%= hidden_field_tag :season_id, @season.id %>
				<%= submit_tag "Add Roster" %>
			<% end %>
		</div>
		<%= link_to "Delete Season", season_url(@season.league.path, @season.path), method: :delete %>
	</div>
</div>