<div class="row">
	<div class="page-header span12">
		<h1><%= @roster.team.name %></h1>
		<% if current_user %>
			<a href="<%= edit_roster_url(@roster.season.league.path, @roster.season.path, @roster.team.path) %>" class="manage-edit-option">
				Edit Roster
			</a>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span12">
		<table class="team-roster">
			<thead>
				<th>Name</th>
				<th>Goals</th>
				<th>Assists</th>
				<th>Points</th>
				<th>PIM</th>
			</thead>
			<tbody>
				<% @roster.roster_spots.each do |roster_spot| %>
					<tr>
						<td><%= roster_spot.player.full_name %></td>
						<td><%= roster_spot.goals %></td>
						<td><%= roster_spot.assists %></td>
						<td><%= roster_spot.points %></td>
						<td><%= roster_spot.pim %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>