<div class="row">
	<div class="page-header span12">
		<h1>Create Account</h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		<%= form_for @user, class: "main-form-type" do |f| %>
			<div class="form-field">
				<%= f.label :f_name, "First Name" %>
				<%= f.text_field :f_name, required: true %>
			</div>
			<div class="form-field">
				<%= f.label :l_name, "Last Name" %>
				<%= f.text_field :l_name, required: true %>
			</div>
			<div class="form-field">
				<%= f.label :email, "Email Address" %>
				<%= f.email_field :email, required: true %>
			</div>
			<div class="form-field">
				<%= f.label :password, "Password" %>
				<%= f.password_field :password, required: true %>
			</div>
			<div class="form-field">
				<%= f.label :password_confirmation, "Confirm Password" %>
				<%= f.password_field :password_confirmation, required: true %>
			</div>
			<div class="form-field">
				<%= f.submit "Create Account" %>
			</div>
		<% end %>
	</div>
</div>
