<div class="row">
	<div class="span10 offset1 home-greeting">
		<p class="home-greeting-content">
			Welcome to the official website of the Beaver County Adult Hockey League!
		</p>
		<span class="home-social-media">
			<a class="fontawesome-facebook-sign" href="https://www.facebook.com/groups/298975226868825/"></a>
			<a class="fontawesome-twitter-sign" href="https://twitter.com/BCAHL"></a>
		</span>
	</div>
</div>
<div class="row">
	<div class="span12 latest-photos">
		<% @photos.each do |photo| %>
			<%= image_tag photo.photo.url(:medium) %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span4 home-third">
		<h2 class="home-third-header">News &amp; Events</h2>
		<p class="home-third-content">
			The latest news from the BCAHL.
		</p>
	</div>
	<div class="span4 home-third">
		<h2 class="home-third-header">Upcoming Games</h2>
		<p class="home-third-content">
			A glance at upcoming games in our league.
		</p>
		<% @upcoming_games.each do |game| %>
			<a class="home-third-list" href="<%= game_url(game.id) %>">
				<h3><%= game.name_and_date %></h3>
			</a>
		<% end %>
	</div>
	<div class="span4 home-third">
		<h2 class="home-third-header">Recent Scores</h2>
		<p class="home-third-content">
			Recent scores from around the league.
		</p>
		<% @recent_games.each do |game| %>
			<a class="home-third-list" href="<%= game_url(game.id) %>">
				<h3><%= game.print_result_with_team_names %></h3>
			</a>
		<% end %>
	</div>
</div>
