<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1><%= @game.name_and_date_and_time %> - <%= @game.season.name_with_league %></h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12 content-area">
		<p><strong>Home Team:</strong> <%= @game.home_roster.team.name %></p>
		<p><strong>Away Team:</strong> <%= @game.away_roster.team.name %></p>
		<p><strong>Score:</strong> <%= @game.print_result_with_team_names %></p>
	</div>
</div>