<div class="row">
	<div class="page-header span12">
		<h1><%= @player.full_name %></h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		<p>
			<%= @player.email %>
		</p>
		<%= form_for @membership do |f| %>
			<div class="form-field">
				<%= f.label :team_id %>
				<%= f.select :team_id, options_from_collection_for_select(Team.all, :id, :name) %>
			</div>
			<div class="form-field">
				<%= f.label :captain %>
				<%= f.check_box :captain %>
			</div>
			<div class="form-field">
				<%= f.hidden_field :player_id, value: @player.id %>
			</div>
			<div class="form-field">
				<%= f.submit "Add to Team" %>
			</div>
		<% end %>
	</div>
</div>