<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Add Photo</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<%= form_for @photo, url: photos_url, class: "main-form-type" do |f| %>
			<div class="form-field">
				<%= f.file_field :photo, required: true %>
			</div>
			<div class="form-field">
				<%= f.label :description, "Description" %>
				<%= f.text_area :description, required: true %>
			</div>
			<div class="form-field">
				<%= f.submit "Add Photo" %>
			</div>
		<% end %>
	</div>
</div>