<!DOCTYPE html>
<html>
<head>
  <title>BCAHL</title>
  <meta name="robots" content="noindex,nofollow">
  <link href='http://fonts.googleapis.com/css?family=Allan' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if signed_in? %>
		<header class="admin-header">
			<div class="container">
				<nav class="admin-nav-left">
					<%= link_to "Add Player", new_player_url, class: "manage-resource-tool" %>
					<%= link_to "Add Team", new_team_url, class: "manage-resource-tool" %>
					<%= link_to "Add League", new_league_url, class: "manage-resource-tool" %>
					<%= link_to "Add Season", new_season_url, class: "manage-resource-tool" %>
				</nav>
				<nav class="admin-nav-right">
					<%= link_to "Dashboard", user_url(current_user.path), class: "manage-resource-tool" %>
					<%= link_to "Sign Out", session_url, method: "delete", class: "manage-resource-tool" %>
				</nav>
			</div>
		</header>
	<% end %>
	<header class="main-header">
		<div class="container">
			<a class="main-logo" href="/">Beaver County Adult Hockey League</a>
			<nav class="main-nav">
				<%= link_to "Home", root_url %>
				<%= link_to "Teams", teams_url %>
				<%= link_to "Players", players_url %>
				<%= link_to "Leagues", leagues_url %>
			</nav>
		</div>
	</header>
	<div class="container">
		<% flash.each do |name, msg| %>
			<div class="flash-message flash-message-<%= name %>">
				<p class="flash-message-inner">
					<%= msg %>
					<span class="flash-message-fade">&#x2718;</span>
				</p>
			</div>
		<% end %>
		<%= yield %>
		<footer class="main-footer">
			<span>Beaver County Adult Hockey League - &copy; <%= Time.now.year %> • <%= link_to "Admin Login", new_session_url %></span>
		</footer>
	</div>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
